h1 {
	font-family: arial;
	color: #ffffff;
	text-align: center;
}

body {
	background-image: url("abqpic.jpg");
	background-repeat: no-repeat;
	font-family: arial, sans-serif;
}

p {
	color: #ffffff;
}

ul {
	color: #ffffff;
}

em {
	color: #ffffff
}